body {
	background-color: #ddd;
}
/* Style for the buttons */
.button {
	background-color: cadetblue;
	border: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	transition: all 0.2s ease-in-out;
}

/* Hover style for the buttons */
.button:hover {
	background: #508d8f;
}

/* Active style for the buttons */
.button:active {
	transform: scale(0.95);
}

/* Style for the container */
.container {
	margin-top: 50px;
	text-align: center;
}

#status {
	border: 2px solid ghostwhite;
	font-family: "Cascadia code", monospace;
	font-size: 1.1rem;
	text-align: center;
	padding: 1rem 0.5rem;

	width: 40%;
	margin-block: 2rem;
	margin-inline: auto;
	border-radius: 0.2rem;

	min-height: 20rem;
	scroll-behavior: auto;
}
