*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333333;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E0DEDE;
}

.welcome{
    height: 56px;
    width: 391px;
    font-size: 48px;
    margin-left: 40%;
    font-family: Mulish;
}

.swift{
    height: 225px;
    width: 308px;
    font-size: 128px;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Lucida Handwriting', cursive;
}

.hero-image {
    width: 473px;
    height: 268px;
    display: flex;
    justify-content: center;
    text-align: center;
}

button{
    width: 260px;
    height: 70px;
    text-align: center;
    background-color: white;
    border: none;
}

.btn1,
.btn2 {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #FAFAFA;
  color: #000000;
  font-size: 36px;
  border: none;
  text-align: center;
  text-decoration: none;
}

.btn1:hover,
.btn2:hover {
  background-color: #6C63FF;
  cursor: pointer;
}

button a{
    text-decoration: none;
    color: #000000;
}

button a:hover{
    color: #FAFAFA;
}


